/* .App {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  div {
    margin: 20px 0;
  }
  
  List {
    text-align: left;
  }
  
  List.Item {
    font-size: 18px;
  } */